h1{
    background-color: rgb(126, 198, 166)
;
}

.wf {
    outline: 1px solid black;
}
.ns
{
    background-color: silver;
}
.ns2
{
    background-color: grey;
}
.row {
    min-height: 500px;
}

.bodySpacing {
    margin:45px 5px 5px 5px;
}
.bodyText {
    color:rgb(2, 14, 13); border:1px solid black;  padding:25px
}

.container {
    background-color: rgb(126, 198, 166);
}

.bodyText {
    background-color: rgb(250, 255, 253);
}